/***** RESET *****/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var, b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	/*font-size: 100%;
	vertical-align: baseline;*/
	
}
html, body {height:100%;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;} /
textarea {overflow:auto;}

/***** RESET *****/





.resimSlider {
    height: 600px;
}
body {padding-top: 50px; 
    font-family: 'Kanit', sans-serif;
}

hakkimizda {
    background-color: #f2f2f2;
}


.ibeyaz {
    color:black;
    position: relative;
    font-size: 40px;
    margin: 40px;
}
.figure:hover {
    opacity: 0.5;
    transition: 0.5s;
}

.form-group {
    margin-bottom: 15px;
}